<!--
  Generated template for the PasienPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Pasien</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item-sliding *ngFor="let pasien of pasiens; let i=index">
      <button ion-item (click)="changePage('FormPasienPage', pasien)">
        <ion-avatar item-start>
          <img src="../../assets/imgs/user.png">
        </ion-avatar>
        <h2>{{ pasien.nama }}</h2>
        <!-- <p>{{ pasien.tanggal_lahir }}</p> -->
        <ion-note item-end>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-note>
      </button>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="onHapus(pasien.id)">
          Hapus
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

    <ion-fab right bottom>
      <button ion-fab (click)="changePage('FormPasienPage')">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
