<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding center text-center no-bounce style="margin-top: 25px">
  <form [formGroup]="credentialsForm">

    <ion-item no-lines>
      <h1>Login</h1>
    </ion-item>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [formControl]="credentialsForm.controls['username']" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="credentialsForm.controls['password']" type="password"></ion-input>
    </ion-item>

    <ion-row style="margin-top: 15px;">
      <ion-col>
        <button ion-button block round (click)="onSignIn()">
          Log in
        </button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
