<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <!-- <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab> -->
  <ion-tab [root]="tab3Root" tabTitle="Pasien" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Pengaturan" tabIcon="settings"></ion-tab>
</ion-tabs>
