<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Home</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="alat1">
        Alat 1
      </ion-segment-button>
      <ion-segment-button value="alat2">
        Alat 2
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <!-- <h2>Welcome {{ users.nama }}</h2> -->
  <!-- <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p> -->
  <!-- <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p> -->

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'alat1'">
      <ion-list>
        <ion-item>
          <ion-label>Pasien</ion-label>
          <ion-select [(ngModel)]="pasien" (ionChange)="gantiPasien(1,$event)">
            <ion-option *ngFor="let pasien of pasiens" [value]="pasien.id">{{ pasien.nama }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col col-4>Suhu Ruang</ion-col>
          <ion-col col-4>Kelembapan</ion-col>
          <ion-col col-4>Suhu Tubuh</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>{{ sensor.suhu_ruang }} C</ion-col>
          <ion-col col-4>{{ sensor.kelembapan }} %</ion-col>
          <ion-col col-4>{{ sensor.suhu_tubuh }} C</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <p><i>Update terakhir: {{ sensor.tanggal | date: "dd-MM-yyyy, H:mm:ss" }}</i></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-label>Catatan</ion-label>
            <ion-textarea class="note" [(ngModel)]="catatan"></ion-textarea>
          </ion-col>
          <ion-col col-12>
            <ion-label>Laporan</ion-label>
            <ion-textarea class="note" [(ngModel)]="laporan"></ion-textarea>
          </ion-col>
          <ion-col col-12>
            <button ion-button block round color="danger" (click)="onSimpan()">Simpan</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'alat2'">
      <ion-list>
        <ion-item>
          <ion-label>Pasien</ion-label>
          <ion-select [(ngModel)]="pasien_kedua" (ionChange)="gantiPasien(2,$event)">
            <ion-option *ngFor="let pasien of pasiens" [value]="pasien.id">{{ pasien.nama }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col col-4>Suhu Ruang</ion-col>
          <ion-col col-4>Kelembapan</ion-col>
          <ion-col col-4>Suhu Tubuh</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>{{ sensor_kedua.suhu_ruang }} C</ion-col>
          <ion-col col-4>{{ sensor_kedua.kelembapan }} %</ion-col>
          <ion-col col-4>{{ sensor_kedua.suhu_tubuh }} C</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <p><i>Update terakhir: {{ sensor_kedua.tanggal | date: "dd-MM-yyyy, H:mm:ss" }}</i></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-label>Catatan</ion-label>
            <ion-textarea class="note" [(ngModel)]="catatan_kedua"></ion-textarea>
          </ion-col>
          <ion-col col-12>
            <ion-label>Laporan</ion-label>
            <ion-textarea class="note" [(ngModel)]="laporan_kedua"></ion-textarea>
          </ion-col>
          <ion-col col-12>
            <button ion-button block round color="dark" (click)="onSimpanKedua()">Simpan</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  
</ion-content>
