page-home {
    .note{
        width: 100%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid darkgrey;
    }

    .segment-md .segment-button.segment-activated {
      border-color: #fff;
    }

    .segment-md .segment-button {
      color: #fff;
    }
}
