page-form-pasien {
    .segment-md .segment-button.segment-activated {
        border-color: #fff;
      }
  
      .segment-md .segment-button {
        color: #fff;
      }

    ion-card-header {
        font-weight: bold;
    }
}
