<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Form Pasien
    </ion-title>
  </ion-navbar>

  <ion-toolbar *ngIf="isEdit">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="biodata">
        Biodata
      </ion-segment-button>
      <ion-segment-button value="sensor">
        Sensor
      </ion-segment-button>
      <ion-segment-button value="catatan">
        Catatan
      </ion-segment-button>
      <ion-segment-button value="laporan">
        Laporan
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="segment">
    <form [formGroup]="formPasien" *ngSwitchCase="'biodata'">

      <ion-item>
        <ion-label floating>Tanggal Masuk</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY"
          [formControl]="formPasien.controls['tanggal_masuk']"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Jam Masuk</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [formControl]="formPasien.controls['jam_masuk']">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Nama</ion-label>
        <ion-input [formControl]="formPasien.controls['nama']" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Tanggal Lahir</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY"
           [formControl]="formPasien.controls['tanggal_lahir']"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Usia</ion-label>
        <ion-input [formControl]="formPasien.controls['usia']" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Jenis Kelamin</ion-label>
        <ion-select [formControl]="formPasien.controls['jenis_kelamin']">
          <ion-option value="L">Laki - laki</ion-option>
          <ion-option value="P">Perempuan</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Riwayat Penyakit</ion-label>
        <ion-input [formControl]="formPasien.controls['riwayat_penyakit']" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Tanggal Keluar</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY"
          [formControl]="formPasien.controls['tanggal_keluar']"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Jam Keluar</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [formControl]="formPasien.controls['jam_keluar']">
        </ion-datetime>
      </ion-item>

      <ion-row style="margin-top: 15px;">
        <ion-col>
          <button ion-button block round (click)="onSimpan()">
            Simpan
          </button>
        </ion-col>
      </ion-row>

    </form>

    <ion-list *ngSwitchCase="'sensor'">

      <ion-slides pager>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              Grafik Suhu Ruang
            </ion-card-header>
            <ion-card-content>
              <canvas #lineCanvas1></canvas>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-header>
              Grafik Suhu Tubuh
            </ion-card-header>
            <ion-card-content>
              <canvas #lineCanvas2></canvas>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-header>
              Grafik Kelembapan
            </ion-card-header>
            <ion-card-content>
              <canvas #lineCanvas3></canvas>
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>

      <ion-list-header>
        Data Log
      </ion-list-header>
      <ion-item *ngFor="let s of dataSensor">
        <h2>{{ s.tanggal | date: "dd-MM-yyyy, H:mm:ss" }}</h2>
        <p>Kelembapan : {{ s.kelembapan }} %</p>
        <p>Suhu Ruang : {{ s.suhu_ruang }} C</p>
        <p>Suhu Tubuh : {{ s.suhu_tubuh }} C</p>
      </ion-item>
      <!-- <ion-row *ngFor="let s of dataSensor">
        <ion-col col-4>
          Kelembapan<br>{{ s.kelembapan }} %
        </ion-col>
        <ion-col col-4>
          Suhu Ruang<br>{{ s.suhu_ruang }} C
        </ion-col>
        <ion-col col-4>
          Suhu Tubuh<br>{{ s.suhu_tubuh }} C
        </ion-col>
        <p><i>dibuat pada tanggal {{ s.tanggal | date: "dd-MM-yyyy, H:mm:ss" }}</i></p>
      </ion-row> -->
    </ion-list>

    <ion-list *ngSwitchCase="'catatan'">
      <ion-item *ngFor="let c of dataCatatan; let i=index">
        <h2>{{ c.catatan | titlecase }}</h2>
        <p><small><i>dibuat oleh {{ c.user }} | {{ c.tanggal | date: "dd-MM-yyyy, H:mm:ss" }}</i></small></p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'laporan'">
      <ion-item *ngFor="let l of dataLaporan; let i=index">
        <h2>{{ l.laporan | titlecase }}</h2>
        <p><small><i>dibuat oleh {{ l.user }} | {{ l.tanggal | date: "dd-MM-yyyy, H:mm:ss" }}</i></small></p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>