<!--
  Generated template for the FormUsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Form User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <form [formGroup]="formUser">

    <ion-item>
      <ion-label>Akses</ion-label>
      <ion-select [formControl]="formUser.controls['id_akses']" interface="popover">
        <ion-option value="1">Dokter</ion-option>
        <ion-option value="2">Perawat</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Nama</ion-label>
      <ion-input [formControl]="formUser.controls['nama']" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [formControl]="formUser.controls['username']" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="formUser.controls['password']" type="password"></ion-input>
    </ion-item>

    <ion-row style="margin-top: 15px;">
      <ion-col>
        <button ion-button block round (click)="onSimpan()">
          Simpan
        </button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
