<!--
  Generated template for the PengaturanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Pengaturan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item (click)="changePage('UsersPage')" *ngIf="admin">
      Users
      <ion-note item-end>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-note>
    </button>
    <button ion-item (click)="changePage('AboutPage')">
      About
      <ion-note item-end>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-note>
    </button>
    <button ion-item (click)="onLogout()">
      Log Out
      <ion-note item-end>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-note>
    </button>
  </ion-list>
</ion-content>
