<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Users</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item-sliding *ngFor="let user of users; let i=index">
      <button ion-item (click)="changePage('FormUsersPage', user)">
        <ion-avatar item-start>
          <img src="../../assets/imgs/user.png">
        </ion-avatar>
        <h2>{{ user.nama }}</h2>
        <p>{{ user.akses }}</p>
        <ion-note item-end>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-note>
      </button>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="onHapus(user.id)">
          Hapus
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="changePage('FormUsersPage')">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
